 body {
    background-color: #2A2626;
    color: white;
}

div {
    text-align: center;
}
    
a {
    font-family: "Avenir Next";
    color: white;
}
    
p.jadelogo {
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
}

menu {
    font-size: 36px;
}

ul {
    text-align: left;
}

li {
    display: inline;
} 

list {
        font-size: 20sp;
}